@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center mt-5">
    <h1 class="display-4">Bienvenido a Inmobiliaria Lorenzo</h1>
    <p class="lead">Gestioná contratos, propiedades, inquilinos y propietarios desde un solo lugar.</p>
    <hr />
    <img src="https://static.vecteezy.com/system/resources/thumbnails/012/986/755/small/abstract-circle-logo-icon-free-png.png" class="img-fluid rounded shadow mt-4" alt="Inmobiliaria" style="max-height:300px;" />
</div>
